logLevel = "DEBUG"
defaultEntryPoints = ["http", "https"]

# WEB interface of Traefik - it will show web page with overview of frontend and backend configurations
[web]
address = ":8080"

# Connection to docker host system (docker.sock)
[docker]
domain = "dh.grafolab.org"
watch = true
# This will hide all docker containers that don't have explicitly
# set label to "enable"
exposedbydefault = false

[entryPoints]
  [entryPoints.http]
  address = ":80"
# Force HTTPS
#    [entryPoints.http.redirect]
#    entryPoint = "https"
#  [entryPoints.https]
#  address = ":443"
#    [entryPoints.https.tls]

# Let's encrypt configuration
#[acme]
#  email="your-email@gmail.com"
#  storage="/etc/traefik/acme.json"
#  entryPoint="https"
#  acmeLogging=true
#  onDemand=true
#  OnHostRule=true

[backends]
  [backends.backend1]
    # ...
    [backends.backend1.servers.server1]
    url = "http://90.147.144.146:80"
#    [backends.backend1.servers.server2]
#    url = "http://172.17.0.3:80"
#  [backends.backend2]
    # ...
#    [backends.backend2.servers.server1]
#    url = "https://172.17.0.4:443"
#    [backends.backend2.servers.server2]
#    url = "https://172.17.0.5:443"
#  [backends.backend3]
